.card-container {
  display: flex;
  gap: 5px;  /* Adjust as needed */
  margin-bottom: 10px; /* Add margin bottom to create space between cards and table */
  margin-top: 20px;
}

.card {
  flex: 1;
  max-width: 400px;
}

.ant-card {
  width: 200px;
  height: 100px;
  margin: 0; /* Remove default margin */
}

.table-container {
  margin-top: 20px; /* Adjust margin top to create space between cards and table */
}
